/* COLORS */
$background: #282c34;
$text: #dcdfe4;
$font: "Mononoki";

#splash {
  background: $background !important;
  .splash-inner .splash-text > span.splash-status {
    color: $text !important;
    font-family: $font !important;
  }
}
